body {
  background-color: rgb(163, 235, 167);
  color: rgb(58, 27, 27);
}

/*соцсети*/
.social-links .link {
  color: teal;
}

.social-links .link:hover,
.social-links .link:focus {
  color: orange;
}

.social-links .link:active {
  color: red;
}

/*расписание маршрута*/
.schedule-body tr:hover {
  background-color: tomato;
  color: white;
}

.schedule-body tr td:hover {
  background-color: rgb(161, 128, 78);
  color: rgb(108, 187, 72);
}

.schedule {
  border-collapse: collapse;
}

.schedule th,
.schedule td {
  padding: 8px;
  border: 1px solid var(--brand-color);
}

/*переменная*/
:root {
  --brand-color: rgb(120, 75, 161);
}

/*секция тайтл*/
.section {
  border: 2px solid var(--brand-color);
  margin: 10px 0px 10px 0;
}

.section-title {
  color: var(--brand-color);
  background-color: rgb(201, 65, 99);
  margin-left: 10px;
  padding-left: 10px;
}

/*блоки радуги переменные*/
.alert {
  --alert-taxt-color: rgb(255, 255, 255);
  color: var(--alert-taxt-color);
  --alert-backgraund-color: rgb(117, 23, 23);
  background-color: var(--alert-backgraund-color);
}

.alert.success {
  --alert-backgraund-color: green;
  --alert-taxt-color: rgb(148, 40, 13);
}

.alert.warning {
  --alert-backgraund-color: orange;
  --alert-taxt-color: rgb(13, 132, 148);
}

.alert.error {
  --alert-backgraund-color: red;
  --alert-taxt-color: rgb(59, 189, 42);
}
